// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$Viewports : (
	// Phone viewports
		'phone': 0,
		'iphone-4': 320px,
		'iphone-6':375px,
		'nexus-6':412px,
	// Tablet viewports
		'tablet' : 600px,
		'ipad-P' : 768px,
		'ipad-L' : 1024px,
		'ipad-C' : 1100px,
		'ipad-D' : 1200px,
	// Desktop viewports
		'desktop' : 1200px,
		'Laptop' : 1366px,
		'Laptop-1440' : 1440px,
		'Desktop' : 1600px,
		'FHD' : 1920px,
		'2k' : 2560px,
		'4k' : 3840px
) !default;

$Viewport-Expressions : (
		'screen': 'screen',
		'print': 'print',
		'handheld': 'handheld',
		'landscape': '(orientation: landscape)',
		'portrait': '(orientation: portrait)',
		'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
		'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------

$Color-Primary : #f35519;

$Color-Text : #333;
$Color-Text-Orange : #e1450d;
$Color-Text-Input : #999;

$Color-Orange-Light : #f69100;
$Color-Footer-Link : #f69100;
$Color-Punchbag-hover : #f69100;

$Svg-Stop-Color-1 : #f26627;
$Svg-Stop-Color-2 : #df3910;

$Color-Border-Dash : #c9c9c9;
$Color-Border-Solid : #ccc;

$Color-Input-Top : #ccc;
$Color-Input-Bottom : #f7f7f7;

$Color-Arrow-Active : #aaa;
$Color-Arrow-Stroke : #e3e3e3;

$Color-Button-Dark-Top : #313031;
$Color-Button-Dark-Bottom : #242425;
$Color-Button-Light-Top : #f69000;
$Color-Button-Light-Bottom : #de380f;

$Color-Border-Bag : #de380f;

$Color-Border-Construct-Light : #de380f;
$Color-Border-Construct : #222;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img : '../img/';
$Folder-Fonts : '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------
