%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Back-Lines
{
	position   : absolute;
	right      : 0;
	top        : 0;
	left       : 0;
	bottom     : 0;
	background : url("/images/bg-lines.png") repeat, url('/images/bg-shadow.png') repeat-x 0 0;
}

%Std-Transition
{
	transition : all 0.2s;
}

%Button-Modules
{
	@extend %Unselectable;
	position      : relative;
	display       : inline-block;
	width         : 100%;
	max-width     : 270px;
	border-radius : 4px;
	text-align    : center;
	padding       : 15px;
	cursor        : pointer;
	background    : #f95e1c;
	transition    : all .2s linear;
	box-shadow    : 0 3px 5px 0 rgba(0, 0, 0, 0.25), inset 0 -48px 70px -45px #db340e;
	font-size     : 14rem;
	color         : #fff;
	z-index       : 9;
	border        : none;
	@include Adaptive(">=ipad-P")
	{
		padding   : 15px 20px;
		font-size : 18rem;
	}

	&:hover
	{
		transition   : all 0.2s linear;
		background   : #333;
		border-color : #333;
		box-shadow   : none;
	}

}

%Std-Input
{
	display       : block;
	margin        : 0 auto;
	border        : 1px solid #ccc;
	border-radius : 4px;
	background    : #f9f9f9;
	padding       : 3px 7px;
	width         : 100%;
	max-width     : 380px;
	z-index       : 999;
	font-size     : 16rem;
	text-align    : center;

	@include Adaptive(">=ipad-P")
	{
		font-size : 16rem;
		padding   : 12px 7px;
	}
	@extend %Std-Transition;

	@include Adaptive('<=ipad-P')
	{
		padding : 10px;
	}

	&:focus
	{
		color        : $Color-Primary;
		border-color : $Color-Primary;
	}
}

%Std-Label
{
	display        : block;
	margin-bottom  : 5px;
	margin-top     : 13px;
	font-weight    : 700;
	font-style     : italic;
	font-size      : 12rem;
	text-transform : uppercase;
	text-align     : center;

	@include Adaptive(">=ipad-P")
	{
		font-size     : 16rem;
		margin-top    : 26px;
		margin-bottom : 10px;
	}

}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow-Outset
{
	-webkit-box-shadow : 0px 2px 12px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow    : 0px 2px 12px 0px rgba(0, 0, 0, 0.4);
	box-shadow         : 0px 2px 12px 0px rgba(0, 0, 0, 0.4);
}

%Shadow-Button
{
	-webkit-box-shadow : 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow    : 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow         : 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	transition         : box-shadow linear .2s;
	&:hover
	{
		box-shadow : none;
		transition : box-shadow linear .2s;
	}
}

%Gradient-Dark
{
	background : $Color-Button-Dark-Top;
	background : -moz-linear-gradient(top, $Color-Button-Dark-Top 0%, $Color-Button-Dark-Bottom 100%);
	background : -webkit-linear-gradient(top, $Color-Button-Dark-Top 0%, $Color-Button-Dark-Bottom 100%);
	background : linear-gradient(to bottom, $Color-Button-Dark-Top 0%, $Color-Button-Dark-Bottom 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$Color-Button-Dark-Top', endColorstr='$Color-Button-Dark-Bottom', GradientType=0);
}

%Gradient-Orange
{
	background : $Color-Button-Light-Bottom;
	background : -moz-linear-gradient(top, $Color-Button-Light-Top 0%, $Color-Button-Light-Bottom 100%);
	background : -webkit-linear-gradient(top, $Color-Button-Light-Top 0%, $Color-Button-Light-Bottom 100%);
	background : linear-gradient(to bottom, $Color-Button-Light-Top 0%, $Color-Button-Light-Bottom 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='Color-Button-Light-Top', endColorstr='$Color-Button-Light-Bottom', GradientType=0);
}

%Gradient-Orange-Background
{
	background : $Color-Button-Light-Bottom;
	background : -moz-linear-gradient(top, $Color-Button-Light-Bottom 0%, $Color-Button-Light-Top 100%);
	background : -webkit-linear-gradient(top, $Color-Button-Light-Bottom 0%, $Color-Button-Light-Top 100%);
	background : linear-gradient(to bottom, $Color-Button-Light-Bottom 0%, $Color-Button-Light-Top 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$Color-Button-Light-Top', endColorstr='$Color-Button-Light-Top', GradientType=0);
}

%Gradient-Orange-Right
{
	background : $Color-Button-Light-Bottom;
	background : -moz-linear-gradient(top, $Color-Button-Light-Top 0%, $Color-Button-Light-Bottom 100%);
	background : -webkit-linear-gradient(top, $Color-Button-Light-Top 0%, $Color-Button-Light-Bottom 100%);
	background : linear-gradient(to bottom, $Color-Button-Light-Top 0%, $Color-Button-Light-Bottom 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$Color-Button-Light-Top', endColorstr='$Color-Button-Light-Bottom', GradientType=0);
}

%Gradient-Input
{
	background : $Color-Input-Top;
	background : -moz-linear-gradient(top, $Color-Input-Top 0%, $Color-Input-Bottom 100%);
	background : -webkit-linear-gradient(top, $Color-Input-Top 0%, $Color-Input-Bottom 100%);
	background : linear-gradient(to bottom, $Color-Input-Top 0%, $Color-Input-Bottom 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$Color-Input-Top', endColorstr='$Color-Input-Bottom', GradientType=0);
}

%Gradient-Button-Grey
{
	background : $Color-Input-Bottom;
	background : -moz-linear-gradient(top, $Color-Input-Bottom 0%, $Color-Input-Top 100%);
	background : -webkit-linear-gradient(top, $Color-Input-Bottom 0%, $Color-Input-Top 100%);
	background : linear-gradient(to bottom, $Color-Input-Bottom 0%, $Color-Input-Top 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$Color-Input-Bottom', endColorstr='$Color-Input-Top', GradientType=0);
}

%Bg-Gray
{
	background : url("/images/bg-grey.png") repeat;

	@include Adaptive('retina2x')
	{
		background      : url("/images/bg-grey@2x.png") repeat;
		background-size : contain;
	}
}

%Ragged-Edge-Top
{

	&:before
	{
		content    : "";
		display    : block;
		position   : absolute;
		top        : -42px;
		width      : 100%;
		height     : 44px;
		z-index    : 10;
		background : url("/images/bg-border-grey-up.png") no-repeat center / cover;
	}
}

%Ragged-Edge-Bottom
{

	&:after
	{
		content    : "";
		display    : block;
		position   : absolute;
		bottom     : -42px;
		width      : 100%;
		height     : 44px;
		z-index    : 10;
		background : url("/images/bg-border-grey-down.png") no-repeat center / cover;
	}
}

%Control-Arrow
{
	@extend %Transition-Fill;
	fill : white;
	&:active
	{
		@extend %Transition-Fill;
		fill : $Color-Arrow-Active;
	}

}

%Header-Base
{
	font-size      : 23rem;
	font-weight    : 700;
	padding-top    : 50px;
	padding-bottom : 50px;
	display        : block;
	@include Adaptive('>=tablet')
	{
		font-size : 26rem;
	}
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s;
}

%Input-Label
{

	span
	{
		padding-bottom : 16px;
		position       : relative;

		@include Adaptive('>=desktop')
		{
			display        : table;
			padding-bottom : 0;
			width          : 100%;
			max-width      : 350px;
		}
		@include Adaptive('>=desktop')
		{
		}

		&:focus
		{

			@include Adaptive('>=desktop')
			{
				@extend %Shadow-Outset;
			}
		}

	}

	label
	{
		@extend %Unselectable;
		display     : block;
		color       : white;
		font-size   : 15rem;
		font-weight : 600;
		cursor      : pointer;
		text-align  : center;

		@include Adaptive('>=desktop')
		{
			position      : absolute;
			display       : table-cell;
			min-width     : 95px;
			height        : 100%;
			margin        : 0;
			padding-top   : 8px;
			background    : $Color-Text;
			border-radius : 4px 0 0 4px;
		}

	}

	input
	{
		@extend %Gradient-Input;
		height        : 30px;
		border-radius : 4px;
		display       : block;
		margin        : 10px auto;
		padding       : 5px;
		color         : $Color-Text-Input;
		width         : 260px;
		font-weight   : 400;
		text-align    : center;
		font-size     : 14rem;
		color         : $Color-Text;

		&:focus
		{
			@extend %Shadow-Outset;
		}

		@include Adaptive('>=desktop')
		{
			display        : table-cell;
			width          : 100%;
			padding        : 5px 5px 5px 110px;
			vertical-align : middle;
			text-align     : inherit;
			margin         : 0;
			border-radius  : 6px 4px 4px 6px;
		}

	}

}

%Max-Width
{
	margin    : 0 auto;
	max-width : 1200px;

	@include Adaptive('>=desktop')
	{
		max-width     : 1280px;
		padding-left  : 40px;
		padding-right : 40px;
	}
}

%Max-Width-2
{
	margin    : 0 auto;
	max-width : 1200px;

	@include Adaptive('>=desktop')
	{
		max-width     : 1280px;
		padding-left  : 40px;
		padding-right : 40px;
	}
}

%Max-Width-Footer
{
	margin    : 0 auto;
	max-width : 1250px;
	padding   : 0 25px;
}

%Button-Light
{
	@extend %Form-Rounded;
	display    : block;
	margin     : 50px auto 20px;
	transition : all linear .2s;
	box-shadow : 0 3px 5px 0 rgba(0, 0, 0, .25), inset 0 -48px 70px -45px rgba(51, 51, 51, .25);
	font-size  : 18rem;
	padding    : 7px 26px;
	&:hover
	{
		background-color : $Color-Text;
		transition       : all linear .2s;
		color            : white;
	}
	@include Adaptive('>=desktop')
	{
		margin : 0;
	}

}

%Buzz-Out
{
	animation : Buzz-Out 1s;
	@keyframes Buzz-Out
	{
		10%
		{
			-webkit-transform : translateX(3px) rotate(2deg);
			transform         : translateX(3px) rotate(2deg);
		}
		20%
		{
			-webkit-transform : translateX(-3px) rotate(-2deg);
			transform         : translateX(-3px) rotate(-2deg);
		}
		30%
		{
			-webkit-transform : translateX(3px) rotate(2deg);
			transform         : translateX(3px) rotate(2deg);
		}
		40%
		{
			-webkit-transform : translateX(-3px) rotate(-2deg);
			transform         : translateX(-3px) rotate(-2deg);
		}
		50%
		{
			-webkit-transform : translateX(2px) rotate(1deg);
			transform         : translateX(2px) rotate(1deg);
		}
		60%
		{
			-webkit-transform : translateX(-2px) rotate(-1deg);
			transform         : translateX(-2px) rotate(-1deg);
		}
		70%
		{
			-webkit-transform : translateX(2px) rotate(1deg);
			transform         : translateX(2px) rotate(1deg);
		}
		80%
		{
			-webkit-transform : translateX(-2px) rotate(-1deg);
			transform         : translateX(-2px) rotate(-1deg);
		}
		90%
		{
			-webkit-transform : translateX(1px) rotate(0deg);
			transform         : translateX(1px) rotate(0deg);
		}
		100%
		{
			-webkit-transform : translateX(-1px) rotate(0deg);
			transform         : translateX(-1px) rotate(0deg);
		}
	}

}

%Shake
{
	animation : Shake 1s;
	@keyframes Shake
	{
		10%
		{
			-webkit-transform : rotate(2deg);
			transform         : rotate(2deg);
		}
		20%
		{
			-webkit-transform : rotate(-2deg);
			transform         : rotate(-2deg);
		}
		30%
		{
			-webkit-transform : rotate(2deg);
			transform         : rotate(2deg);
		}
		40%
		{
			-webkit-transform : rotate(-2deg);
			transform         : rotate(-2deg);
		}
		50%
		{
			-webkit-transform : rotate(1deg);
			transform         : rotate(1deg);
		}
		60%
		{
			-webkit-transform : rotate(-1deg);
			transform         : rotate(-1deg);
		}
		70%
		{
			-webkit-transform : rotate(1deg);
			transform         : rotate(1deg);
		}
		80%
		{
			-webkit-transform : rotate(-1deg);
			transform         : rotate(-1deg);
		}
		90%
		{
			-webkit-transform : rotate(0deg);
			transform         : rotate(0deg);
		}
		100%
		{
			-webkit-transform : rotate(0deg);
			transform         : rotate(0deg);
		}
	}

}

%Rotation-X
{
	transform-origin : center;
	transition       : animation linear 1s;
	animation        : rotation-x 2s infinite alternate both ease-in-out;
	@keyframes rotation-x
	{
		from
		{ -webkit-transform : rotate(0deg); transform : rotate(0deg);
			transform       : rotate(0deg); transform : rotate(0deg);
		}
		to
		{ -webkit-transform : rotate(720deg); transform : rotate(720deg);
			ransform        : rotate(720deg); transform : rotate(720deg);
		}

	}
}

%Rotation-Z
{
	transform-origin : center;
	transition       : animation linear 1s;
	animation        : rotation-z 2s infinite ease-in-out;
	will-change      : rotate3d;

	@keyframes rotation-z
	{
		from
		{
			-webkit-transform : rotate3d(0, 5, 1, 0deg); transform : rotate3d(0, 5, 1, 0deg);
			transform         : rotate3d(0, 5, 1, 0deg); transform : rotate3d(0, 5, 1, 0deg);
		}
		to
		{
			-webkit-transform : rotate3d(0, 5, 1, 720deg); transform : rotate3d(0, 5, 1, 720deg);
			transform         : rotate3d(0, 5, 1, 720deg); transform : rotate3d(0, 5, 1, 720deg);
		}

	}
}

%Jump-Top
{
	transform-origin          : center;
	animation                 : Jumptop 1s alternate both;
	will-change               : animation, translateX, translateY, rotate;
	animation-play-state      : running;
	animation-iteration-count : 2;
	@keyframes Jumptop
	{
		10%
		{
			-webkit-transform : translateX(-30px) translateY(3px) rotate(2deg);
			transform         : translateX(-30px) rotate(2deg);
		}
		20%
		{
			-webkit-transform : translateX(-60px) rotate(-2deg);
			transform         : translateX(-60px) rotate(-2deg);
		}
		30%
		{
			-webkit-transform : translateX(-60px) rotate(2deg);
			transform         : translateX(-60px) rotate(2deg);
		}
		40%
		{
			-webkit-transform : translateX(-60px) rotate(-2deg);
			transform         : translateX(-60px) rotate(-2deg);
		}
		50%
		{
			-webkit-transform : translateX(150px) rotate(1deg);
			transform         : translateX(150px) rotate(1deg);
		}
		100%
		{
			-webkit-transform : translateX(140px) rotate(0deg);
			transform         : translateX(140px) rotate(0deg);
		}

	}
}

%Jump-Below
{
	animation                 : Jumpbelow 1s alternate both;
	transform-origin          : center center;
	will-change               : animation, translateX, translateY, rotate;
	animation-play-state      : running;
	transform-origin          : 170px 128px;
	animation-iteration-count : 2;
	@keyframes Jumpbelow
	{
		10%
		{
			transform         : translateX(0px) translateY(-15px) rotate(5deg);
			-webkit-transform : translateX(0px) translateY(-15px) rotate(5deg);
		}
		20%
		{
			transform         : translateX(0px) translateY(-20px) rotate(10deg);
			-webkit-transform : translateX(0px) translateY(-20px) rotate(10deg);
		}
		30%
		{
			transform         : translateX(0px) translateY(-25px) rotate(15deg);
			-webkit-transform : translateX(0px) translateY(-25px) rotate(15deg);
		}
		40%
		{
			transform         : translateX(0px) translateY(0px) rotate(30deg);
			-webkit-transform : translateX(0px) translateY(0px) rotate(30deg);
		}
		50%
		{
			transform         : translateX(-60px) translateY(-80px) rotate(-360deg);
			-webkit-transform : translateX(-60px) translateY(-80px) rotate(-360deg);
		}
		60%
		{
			transform-origin  : center center;
			transform         : translateX(-90px) translateY(-140px) rotate(-1440deg);
			-webkit-transform : translateX(-90px) translateY(-140px) rotate(-1440deg);
		}
		70%
		{
			transform         : translateX(-90px) translateY(-200px) rotate(-780deg);
			-webkit-transform : translateX(-90px) translateY(-200px) rotate(-780deg);
		}
		80%
		{
			transform         : translateX(-90px) translateY(-220px) rotate(-415deg);
			-webkit-transform : translateX(-90px) translateY(-220px) rotate(-415deg);
		}
		90%
		{
			transform         : translateX(86px) translateY(70px) rotate(-315deg);
			-webkit-transform : translateX(86px) translateY(70px) rotate(-315deg);
		}
		100%
		{
			transform         : translateX(86px) translateY(70px) rotate(-315deg);
			-webkit-transform : translateX(86px) translateY(70px) rotate(-315deg);
		}

	}
}

%Jump-Middle
{
	animation                 : Jump 1s alternate both;
	transform-origin          : 347px 262px;
	will-change               : animation, translateX, translateY, rotate;
	transition                : Jump linear .05s;
	animation-play-state      : running;
	animation-iteration-count : 2;

	@keyframes Jump
	{
		10%
		{
			transform         : translateX(0px) translateY(15px) rotate(-10deg);
			-webkit-transform : translateX(0px) translateY(15px) rotate(-10deg);
		}
		20%
		{
			transform         : translateX(0px) translateY(20px) rotate(-15deg);
			-webkit-transform : translateX(0px) translateY(20px) rotate(-15deg);
		}
		30%
		{
			transform         : translateX(0px) translateY(25px) rotate(-20deg);
			-webkit-transform : translateX(0px) translateY(25px) rotate(-20deg);
		}
		40%
		{
			transform         : translateX(0px) translateY(30px) rotate(-40deg);
			-webkit-transform : translateX(0px) translateY(30px) rotate(-40deg);
		}
		50%
		{
			transform         : translateX(30px) translateY(-280px) rotate(-450deg);
			-webkit-transform : translateX(30px) translateY(-280px) rotate(-450deg);
		}
		60%
		{
			transform         : translateX(30px) translateY(-340px) rotate(-860deg);
			-webkit-transform : translateX(30px) translateY(-340px) rotate(-860deg);
		}
		70%
		{
			transform         : translateX(30px) translateY(-400px) rotate(-470deg);
			-webkit-transform : translateX(30px) translateY(-400px) rotate(-470deg);
		}
		80%
		{
			transform         : translateX(30px) translateY(-520px) rotate(-260deg);
			-webkit-transform : translateX(30px) translateY(-520px) rotate(-260deg);
		}
		90%
		{
			transform         : translateX(-60px) translateY(-170px) rotate(-45deg);
			-webkit-transform : translateX(-60px) translateY(-170px) rotate(-45deg);
		}
		100%
		{
			transform         : translateX(-60px) translateY(-170px) rotate(-45deg);
			-webkit-transform : translateX(-60px) translateY(-170px) rotate(-45deg);
		}

	}
}

%Candle-Blow
{
	transition  : animation linear .2s;
	animation   : blow .2s alternate both;
	will-change : animation, rotate;

	@keyframes blow
	{
		0%
		{
			transform         : rotate(-0deg);
			-webkit-transform : rotate(-0deg);
		}
		20%
		{
			transform         : rotate(60deg);
			-webkit-transform : rotate(60deg);
		}
		40%
		{
			transform         : rotate(30deg);
			-webkit-transform : rotate(30deg);
		}
		60%
		{
			transform         : rotate(10deg);
			-webkit-transform : rotate(10deg);
		}
		70%
		{
			transform         : rotate(-20deg);
			-webkit-transform : rotate(-20deg);
		}
		80%
		{
			transform         : rotate(-10deg);
			-webkit-transform : rotate(-10deg);
		}
		90%
		{
			transform         : rotate(5deg);
			-webkit-transform : rotate(5deg);
		}
		100%
		{
			transform         : rotate(0deg);
			-webkit-transform : rotate(0deg);
		}

	}
}



