html
{
	font-size   : 1px;
	font-family : 'Exo 2', Arial, Helvetica, sans-serif;
	position    : relative;
	background: url(/images/bg-lines.png),#333;

	min-height: 100%;
}

body
{
	overflow-x : hidden;
	transition: 0.3s;
}

input, button:focus
{
	outline : none;
}

button
{
	border : none;
	cursor : pointer;
}

h2
{
	@extend %Header-Base;
	@extend %Uppercase;
	text-align : center;
}

h4
{
	@extend %Uppercase;
	font-size : 20rem;
}

p
{
	font-weight : 500;
	font-size   : 16rem;
	color       : $Color-Text;
	line-height : 20rem;
	@include Adaptive('>=tablet')
	{
		font-size : 18rem;
	}
}

.Main-Sprite
{
	display    : none;
	opacity    : 0;
	visibility : hidden;
}

.Construct-Info .JS-Menu-List
{
	@extend %Gradient-Button-Grey;
	display    : none;
	position   : absolute;
	z-index    : 999;
	left       : 0;
	right      : 0;
	top        : 36px;
	height     : 0;
	overflow   : hidden;
	transition : all 0.2s linear;

	li
	{
		font-size  : 20rem;
		cursor     : pointer;
		padding    : 5px 0;
		text-align : center;
		border     : 1px solid transparent;

		&:hover
		{
			background : #333;
			color      : white;
		}

		&.Active
		{
			background : #f35519;
			box-shadow : 0 3px 1px 0 rgba(0, 0, 0, .149);
			color      : white;
		}

	}
}

.Construct-Info > div .Next.Not-Active, .Construct-Info > div .Previous.Not-Active
{
	fill   : #ccc;
	cursor : default;

	&:hover
	{
		background   : none;
		border-color : #ccc;
		fill         : #ccc;;
	}
}

.JS-Script-Menu
{
	position : relative;
}

