.Advantage-Wrap
{
	@extend %Bg-Gray;
	@extend %Ragged-Edge-Top;
	@extend %Ragged-Edge-Bottom;
	position : relative;
	@at-root .Advantage
	{
		@extend %Max-Width;
		padding-bottom : 50px;
		@include Adaptive('>=tablet')
		{
			padding-bottom : 85px;
		}

		h2 span
		{
			color : $Color-Text-Orange;
		}

		h2
		{
			@extend %Unselectable;
		}

		@at-root .Advantage-List
		{
			font-size : 0;
			@include Adaptive('>=tablet')
			{
				padding : 60px 0;
			}

			li
			{
				display        : inline-block;
				width          : 50%;
				vertical-align : top;
				text-align     : center;
				padding-bottom : 55px;
				@include Adaptive('>=tablet')
				{
					width          : 33.3%;
					padding-bottom : 80px;
				}
				p
				{
					@extend %Unselectable;
					font-weight : 500;
					font-size   : 13rem;
					line-height : 14rem;
					max-width   : 120px;
					margin      : 0 auto;
					@include Adaptive('>=tablet')
					{
						font-size   : 16rem;
						line-height : 20rem;
						max-width   : 200px;
					}
				}
				svg
				{
					margin-bottom : 13px;
				}

			}

			.Color-1
			{
				stop-color : $Svg-Stop-Color-1;
			}

			.Color-2
			{
				stop-color : $Svg-Stop-Color-2;
			}

			@at-root .Advantage-Moneyback
			{
				svg
				{
					width    : 70px;
					height   : 70px;
					overflow : visible;

					@include Adaptive('>=tablet')
					{
						width  : 123px;
						height : 129px;
					}
				}

				&:hover
				{
					.Moneyback-Circle
					{
						transition : animation linear 1s;
						@extend %Rotation-X;
					}
				}

				@at-root .Moneyback-Circle
				{
					will-change : animation, transform;
				}

			}

			@at-root .Advantage-Price
			{
				svg
				{
					width            : 60px;
					height           : 68px;
					transform-origin : left top;

					@include Adaptive('>=tablet')
					{
						width  : 105px;
						height : 130px;
					}
				}

				&:hover svg
				{
					@extend %Shake;
				}

			}
			@at-root .Advantage-Experience
			{
				svg
				{
					overflow : visible;
					width    : 63px;
					height   : 72px;
					@include Adaptive('>=tablet')
					{
						width  : 113px;
						height : 130px;
					}

				}

				&:hover
				{
					.Candle-1
					{
						@extend %Candle-Blow;
						transform-origin : 44px 10px;
					}
					.Candle-2
					{
						@extend %Candle-Blow;
						animation-delay  : .05s;
						transform-origin : 64px 10px;
					}
					.Candle-3
					{
						@extend %Candle-Blow;
						animation-delay  : .1s;
						transform-origin : 84px 10px;
					}
				}

			}
			@at-root .Advantage-Expert
			{
				svg
				{
					width    : 44px;
					height   : 72px;
					overflow : visible;
					@include Adaptive('>=tablet')
					{
						width  : 87px;
						height : 125px;
					}
				}

				&:hover
				{
					.Expert-Hat
					{
						@extend %Buzz-Out;
					}
				}

			}
			@at-root .Advantage-Help
			{
				svg
				{
					width  : 70px;
					height : 70px;

					@include Adaptive('>=tablet')
					{
						width  : 125px;
						height : 130px;
					}
				}

				&:hover
				{
					svg
					{
						@extend %Rotation-Z;
					}

				}

			}
			@at-root .Advantage-Individual
			{
				svg
				{
					width    : 85px;
					height   : 75px;
					overflow : visible;
					@include Adaptive('>=tablet')
					{
						width  : 159px;
						height : 127px;
					}
				}

				&:hover .Above
				{
					@extend %Jump-Top;
				}

				&:hover .Middle
				{
					@extend %Jump-Middle;
				}

				&:hover .Below
				{
					@extend %Jump-Below;
				}

			}
		}

	}

}