.Bag-Types
{
	@extend %Bg-Gray;

	@at-root .Types-List
	{
		padding-top    : 20px;
		padding-bottom : 20px;

		@include Adaptive('>=tablet')
		{
			display     : table;
			width       : 100%;
			padding-top : 30px;
		}

		@include Adaptive('>=desktop')
		{
			margin    : 0 auto;
			max-width : 1226px;
		}

		a
		{
			display  : block;
			width    : 100%;
			height   : 100%;
			overflow : hidden;
		}

		.Active
		{
			cursor : default;
			.Type-View
			{
				filter     : grayscale(0);
				transform  : scale(1.2);
				transition : transform ease .3s;
			}

			h2
			{
				cursor     : default;

				background : rgb(255, 146, 0);
				background : -moz-linear-gradient(left, rgb(255, 146, 0) 0%, rgb(255, 54, 2) 100%);
				background : -webkit-linear-gradient(left, rgb(255, 146, 0) 0%, rgb(255, 54, 2) 100%);
				background : linear-gradient(to right, rgb(255, 146, 0) 0%, rgb(255, 54, 2) 100%);
				filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9200', endColorstr='#ff3602', GradientType=1);
			}
		}

		@at-root .Type-Home, .Type-Outside,.Type-Gym
		{
			position      : relative;
			height        : 50vw;
			min-height    : 150px;
			cursor        : pointer;
			padding       : 13px;
			margin-bottom : 20px;



			@include Adaptive('>=ipad-P')
			{
				display : table-cell;
				width   : 33.3%;
				height  : 23vw;
			}

			@include Adaptive('>=desktop')
			{
				height : 330px;
			}

			h2
			{
				@extend %Unclickable;
				@extend %Unselectable;
				position   : absolute;
				bottom     : -7px;
				text-align : center;
				width      : 164px;
				left       : calc(50% - 82px);
				right      : 0;
				padding    : 6px 0 8px 0;
				color      : white;
				font-size  : 26rem;
				background : #303030;
				z-index    : 1;
				cursor     : pointer;
			}

			@at-root .Type-View
			{
				height      : 100%;
				filter      : grayscale(100%);
				transform   : scale(1);
				transition  : transform ease .2s;
				will-change : transform, filter;

			}

		}

		@at-root .Type-Mobile
		{
			padding       : 0 25px;
			margin-bottom : 20px;

			@include Adaptive(">=ipad-P")
			{
				display : none;
			}
		}

		@at-root .Type-Gym
		{
			.Type-View
			{
				background : url("/images/bg-gym.jpg") no-repeat center / cover;
			}
		}
		@at-root .Type-Home
		{
			.Type-View
			{
				background : url("/images/bg-home.jpg") no-repeat center / cover;
			}
		}
		@at-root .Type-Outside
		{

			.Type-View
			{
				background : url("/images/bg-outside.jpg") no-repeat center / cover;
			}
		}

	}
	@at-root .Types-For
	{
		@extend %Ragged-Edge-Bottom;

		display        : none;
		position       : relative;
		padding-bottom : 50px;

		@include Adaptive(">=ipad-P")
		{
			display : block;
		}

		@at-root .For-Gym, .For-Home,.For-Outside
		{
			@extend %Max-Width;

			display : none;
			h2
			{
				padding-bottom : 25px;
			}

			p
			{
				max-width  : 670px;
				padding    : 0 35px;
				margin     : 0 auto;
				min-height : 320px;
			}

			span
			{
				display     : block;
				font-style  : italic;
				margin-top  : 24px;
				font-size   : 16rem;
				font-weight : 600;
				@include Adaptive('>=tablet')
				{
					font-size : 18rem;
				}
			}
		}

	}
}
