.Wrapper
{
    width:           100%;
    background-size: cover;
    position:        relative;
    overflow-x:      hidden;



}

@at-root .Back-Lines
{
    @extend %Back-Lines;
}

@at-root .Svg-Container
{
    height:     0;
    width:      0;
    opacity:    0;
    visibility: hidden;
}

@at-root .Back-Video
{
    background:      url("/images/bg-screenshot.jpg") center no-repeat;
    background-size: cover;
    position:        absolute;
    top:             0;
    bottom:          0;
    right:           0;
    left:            0;
    z-index:         -1;

    video
    {
        display:    none;
        position:   absolute;
        top:        50%;
        left:       50%;
        min-width:  100%;
        min-height: 100%;
        width:      auto;
        height:     auto;
        transform:  translateX(-50%) translateY(-50%);

        @include Adaptive(">=ipad-D")
        {
            display: block;
        }
    }
}

@at-root .Header-Container
{
    display:  table;
    margin:   0 auto;
    height:   100%;
    width:    100%;
    z-index:  2;
    position: relative;

    @include Adaptive(">=Laptop-1440")
    {
        max-width: 1200px;
    }

    @include Adaptive(">=Desktop")
    {
        max-width: 1440px;
    }

    form
    {
        display: block;
        padding: 0 10px;

        @include Adaptive(">ipad-D")
        {
            padding: 0;
        }
    }

    header
    {
        position: absolute;
        width:    100%;
    }
}

.Header-Content
{
    display:        table-cell;
    vertical-align: middle;
    text-align:     center;
    font-size:      0;
    left:           0;
    right:          0;

    @include Adaptive(">ipad-D")
    {
        padding-left:  40px;
        padding-right: 40px;
    }

    @include Adaptive(">=Laptop-1440")
    {
        padding-left:  0;
        padding-right: 0;
    }
}

@at-root .Container-Block
{
    display:        inline-block;
    vertical-align: middle;
    width:          100%;


    @include Adaptive('>ipad-D')
    {
        width: 50%;

        &.Position_Left
        {
            text-align: left;
        }

        &.Position_Right
        {
            text-align: right;
        }
    }

}

@at-root .Offer
{
    display:        inline-block;
    vertical-align: middle;
    text-align:     center;
    margin-top:     150px;
    margin-bottom:  27px;

    @include Adaptive(">=ipad-P")
    {
        margin-bottom: 60px;
    }

    @include Adaptive(">ipad-D")
    {
        margin: 0;
    }


    h1
    {
        display:        inline-block;
        position:       relative;
        font-size:      25rem;
        font-weight:    700;
        font-style:     italic;
        color:          #fff;
        text-transform: uppercase;
        text-align:     left;

        @include Adaptive(">=ipad-P")
        {
            font-size: 47rem;
        }

        @include Adaptive(">ipad-D")
        {
            font-size: 47rem;
        }

        @include Adaptive(">ipad-D")
        {
            font-size: 50rem;
        }

        @at-root .Offer-Row
        {
            display: block;
        }

        @at-root .Offer-Back
        {
            display:       inline-block;
            top:           0;
            bottom:        0;
            right:         0;
            left:          0;
            background:    rgba(0, 0, 0, 0.4);
            z-index:       -1;
            transform:     skew(-15deg, 0deg);
            padding:       2px 10px 3px;
            margin-bottom: 3px;

            @include Adaptive(">=ipad-P")
            {
                padding: 2px 12px 7px;
            }

            span
            {
                display:        block;
                transform:      skew(15deg, 0deg);
                letter-spacing: 1px;
            }
        }

    }
}

@at-root .Order
{
    display:        inline-block;
    vertical-align: middle;
    position:       relative;
    width:          100%;
    padding:        15px 50px 50px 50px;
    background:     #fff;
    font-weight:    600;
    color:          $Color-Text;
    text-align:     center;

    @include Adaptive(">ipad-D")
    {
        max-width: 350px;
        padding:   35px 40px 5px 40px;
    }

    h3
    {
        font-size:      16rem;
        margin-bottom:  25px;
        font-weight:    700;
        color:          $Color-Primary;
        font-style:     italic;
        text-transform: uppercase;

        @include Adaptive(">=ipad-P")
        {
            font-size:     30rem;
            margin-bottom: 45px;
        }

        @include Adaptive(">ipad-D")
        {
            font-size:     20rem;
            margin-bottom: 50px;
        }

    }

    @at-root .Order-Recall
    {
        @extend %Button-Modules;

        margin-top: 25px;

        @include Adaptive(">=ipad-P")
        {
            margin-top: 50px;
        }

        @include Adaptive(">ipad-D")
        {
            margin-top: 60px;
        }
    }



    label
    {
        @extend %Std-Label;

        @include Adaptive(">ipad-D")
        {
            text-align: left;
            margin-top: 30px;
        }
    }

    input
    {
        @extend %Std-Input;
        position: relative;

        @include Adaptive(">ipad-D")
        {
            text-align: left;
        }
    }
}

.Order:before
{
    content:    "";
    position:   absolute;
    width:      100%;
    height:     41px;
    top:        -40px;
    left:       0;
    background: url("/images/bg-order-top.png") center;
}

.Order:after
{
    display:    none;
    content:    "";
    position:   absolute;
    width:      100%;
    height:     41px;
    bottom:     -40px;
    left:       0;
    background: url("/images/bg-order-bottom.png") center;

    @include Adaptive('>ipad-D')
    {
        display: block;
    }
}

