
.Construct-Wrap
{
	@extend %Ragged-Edge-Top;
	@extend %Bg-Gray;
	position       : relative;
	padding-bottom : 10px;
	@include Adaptive('>=tablet')
	{
		padding-bottom : 35px;
	}
	h2
	{
		@include Adaptive('>=tablet')
		{
			padding-bottom : 70px;
		}
	}

	@at-root .Construct-Border
	{
		@include Adaptive('>=tablet')
		{
			border-top    : 3px dashed $Color-Border-Dash;
			border-bottom : 3px dashed $Color-Border-Dash;
			padding       : 0 30px;
		}

		@at-root .Construct
		{
			@include Adaptive('>=tablet')
			{
				padding   : 0 0 50px;
				display   : table;
				margin    : 0 auto;
				max-width : 705px;
				width     : 100%;
			}

			@at-root .Construct-Bag
			{
				position       : relative;
				display        : table;
				height         : 440px;
				margin         : 0 auto;
				padding-bottom : 75px;
				@include Adaptive('>=tablet')
				{
					padding-bottom : 0;
					margin         : 0;
					display        : table-cell;
					vertical-align : middle;
				}

				@at-root .Bag-Wrap
				{
					display        : table-cell;
					vertical-align : middle;
					@include Adaptive('>=tablet')
					{
						margin : 0;
					}

					span
					{
						font-size   : 16rem;
						font-weight : 900;
					}

					@at-root .Bag-Weight
					{
						display        : table-cell;
						vertical-align : middle;
						width          : 50px;
						text-align     : center;
						svg
						{
							display    : inline-block;
							width      : 31px;
							height     : 35px;
							margin-top : 10px;
						}

						@at-root .Wages-Arrow
						{
							transform-origin : 11.5px 16px;
							transition       : all 0.2s linear;
							will-change      : rotate;
						}

					}
					@at-root .Bag
					{

						display        : table-cell;
						vertical-align : middle;
						width          : 170px;


						@at-root .Body-Wrap
						{
							position    : relative;
							margin      : 0 auto;
							will-change : width, height;
							transition  : height linear .2s, width linear .2s;


							@at-root .Bag-Body
							{
								position      : relative;
								border-radius : 25px;
								width         : 100%;
								height        : 100%;
								border        : 3px solid $Color-Border-Bag;

								&:before
								{
									content          : "";
									position         : absolute;
									height           : 3px;
									left             : 0;
									right            : 0;
									background-color : $Color-Border-Bag;
									top              : 25px;
								}

								&:after
								{
									content          : "";
									position         : absolute;
									left             : 0;
									right            : 0;
									height           : 3px;
									background-color : $Color-Border-Bag;
									bottom           : 25px;
								}

							}

							@at-root .Bag-Width
							{
								position   : absolute;
								border-top : 2px solid $Color-Border-Construct;
								bottom     : -60px;
								left       : 0;
								right      : 0;
								text-align : center;
								padding    : 10px 0;

								&:before
								{
									content       : "";
									position      : absolute;
									top           : -5px;
									left          : 0;
									width         : 0;
									height        : 0;
									border-top    : 4px solid transparent;
									border-right  : 10px solid $Color-Border-Construct;
									border-bottom : 4px solid transparent;
								}

								&:after
								{
									content       : "";
									position      : absolute;
									top           : -5px;
									right         : 0;
									width         : 0;
									height        : 0;
									border-top    : 4px solid transparent;
									border-left   : 10px solid $Color-Border-Construct;
									border-bottom : 4px solid transparent;
								}

							}

						}
					}
					@at-root .Bag-Height
					{
						position       : relative;
						display        : table-cell;
						vertical-align : middle;
						width          : 60px;
						border-left    : 2px solid $Color-Border-Construct;
						text-align     : center;

						&:before
						{
							content       : "";
							position      : absolute;
							top           : 0;
							left          : -5px;
							width         : 0;
							height        : 0;
							border-left   : 4px solid transparent;
							border-right  : 4px solid transparent;
							border-bottom : 10px solid $Color-Border-Construct;
						}

						&:after
						{
							content      : "";
							position     : absolute;
							bottom       : 0;
							left         : -5px;
							width        : 0;
							height       : 0;
							border-left  : 4px solid transparent;
							border-right : 4px solid transparent;
							border-top   : 10px solid $Color-Border-Construct;
						}

					}
				}
			}

			@at-root .Construct-Description
			{

				font-size : 0;

				@include Adaptive('>=tablet')
				{
					display        : table-cell;
					vertical-align : middle;
				}

				@at-root .Construct-Info
				{
					@extend %Unselectable;
					margin     : 0 auto 15px;
					text-align : center;

					@include Adaptive('>=ipad-P')
					{
						margin : 0 auto 17px;
					}

					.Info-Title
					{
						@extend %Unselectable;
						display       : block;
						font-size     : 20rem;
						margin-bottom : 8px;

						@include Adaptive('>=ipad-P')
						{
							display        : inline-block;
							vertical-align : middle;
							width          : 120px;
							text-align     : initial;
							margin-bottom  : 0;
						}

					}

					.Info
					{
						@extend %Clearfix;
						@extend %Gradient-Button-Grey;
						@extend %Form-Rounded;
						position : relative;
						display  : inline-block;

						.Previous, .Next
						{
							display        : inline-block;
							cursor         : pointer;
							vertical-align : middle;
							svg
							{
								width   : 20px;
								height  : 20px;
								padding : 7px 5px;
							}

							@extend %Transition-Fast;
							&:hover
							{
								@extend %Transition-Fast;
								@extend %Transition-Fill;
								@extend %Gradient-Orange;
								border : 1px solid $Color-Border-Bag;
								fill   : white;
							}
						}

						@at-root .Construct-Button
						{

							text-align     : center;
							display        : inline-block;
							vertical-align : middle;
							width          : 135px;
							padding        : 7px 0;
							border-top     : 1px solid $Color-Border-Solid;
							border-bottom  : 1px solid $Color-Border-Solid;
							cursor         : pointer;

						}
					}

					span
					{
						font-size      : 20rem;
						vertical-align : middle;
					}

					.Previous
					{
						border        : 1px solid $Color-Border-Solid;
						border-radius : 4px 0 0 4px;
						svg
						{
							transform        : rotate(-90deg);
							transform-origin : center;
						}

					}

					.Next
					{
						border        : 1px solid $Color-Border-Solid;
						border-radius : 0 4px 4px 0;
						svg
						{
							transform        : rotate(90deg);
							transform-origin : center;
						}
					}
				}

				@at-root .Info-Summery
				{
					padding    : 30px 30px 0;
					text-align : center;
					@include Adaptive('>=ipad-P')
					{
						text-align : right;
						padding    : 50px 30px 0;
					}

					span
					{
						font-size : 20rem;
					}

					p
					{
						font-size : 20rem;
					}

					svg
					{
						display : inline-block;
						width   : 15px;
						height  : 15px;
						fill    : $Color-Text-Orange;
					}

					@at-root .Price-Result
					{
						@extend %Unselectable;
						color       : $Color-Text-Orange;
						margin-left : 10px;
						font-weight : 900;
					}
					@at-root .Info-Order
					{
						background-color : $Color-Text-Orange;
						@extend %Form-Rounded;
						@extend %Shadow-Button;
						font-size        : 20rem;
						padding          : 10px ;
						text-align       : center;
						width            : 190px;
						margin           : 25px auto 0;
						color            : white;
						box-shadow       : 0 3px 5px 0 rgba(0, 0, 0, .25), inset 0 -48px 70px -45px #db340e;
						transition       : all linear .2s;
						&:hover
						{
							background-color : $Color-Text;
							transition       : all linear .2s;
						}

						@include Adaptive('>=tablet')
						{
							margin : 25px 0 0 auto;
						}

					}
				}

			}

		}
	}

}

// Constructor second variant

.Construct.Second
{
	display   : table;
	margin    : 0 auto;
	max-width : 705px;
	width     : 100%;
}

@at-root .Construct-Bag.Second
{
	position       : relative;
	display        : table-row;
	//height         : 410px;
	vertical-align : middle;
	text-align     : center;

	.Bag-Center
	{
		display        : inline-block;
		vertical-align : middle;
		@include Adaptive('>=tablet')
		{
			margin : 0 40px;
		}
	}

	.Bag-Wrap
	{
		@extend %Unselectable;
		position : relative;
	}
}

@at-root .Construct-Description.Second
{
	font-size      : 0;
	display        : table-row;
	vertical-align : middle;

	@at-root .Info-Summery.Second
	{
		text-align : center;
		@extend %Unselectable;
	}

}

.JS-Click-Left.Previous.Second
{
	display        : inline-block;
	vertical-align : middle;
	position       : absolute;
	bottom         : 0;
	left           : 0;

	@include Adaptive(">=iphone-6")
	{
		position : relative;
	}

	&.Not-Active
	{
		svg
		{
			fill   : #b3b3b3;
			cursor : default;
		}
	}

	svg
	{
		width            : 40px;
		height           : 40px;
		transform-origin : center;
		transform        : rotate(-90deg);
		cursor           : pointer;
		padding          : 20px;

		@include Adaptive(">=iphone-6")
		{
			padding : 0;
		}

		@include Adaptive(">=tablet")
		{
			margin : 0 20px;
		}
	}
}

.JS-Click-Right.Next.Second
{
	display        : inline-block;
	vertical-align : middle;
	position       : absolute;
	bottom         : 0;
	right          : 0;

	@include Adaptive(">=iphone-6")
	{
		position : relative;
	}

	&.Not-Active
	{
		svg
		{
			fill   : #b3b3b3;
			cursor : default;
		}
	}

	svg
	{
		width            : 40px;
		height           : 40px;
		transform-origin : center;
		transform        : rotate(90deg);
		cursor           : pointer;
		padding          : 20px;

		@include Adaptive(">=iphone-6")
		{
			padding : 0;
		}

		@include Adaptive(">=tablet")
		{
			margin : 0 20px;
		}

	}
}