.Consult-Wrap
{
	@extend %Gradient-Orange-Background;
	padding    : 20px 0 40px;
	text-align : center;
	@include Adaptive('>=desktop')
	{
		padding    : 35px 0;
		text-align : initial;
	}
	@at-root .Consult
	{
		@extend %Max-Width;
		@include Adaptive('>=desktop')
		{
			width : 100%;
		}

		form
		{
			display : table;
			width   : 100%;
		}

		h4
		{
			@extend %Uppercase;
			@extend %Unselectable;
			margin-bottom : 35px;
			text-align    : center;
			color         : white;

			@include Adaptive('>=desktop')
			{
				display        : table-cell;
				vertical-align : middle;
				text-align     : left;
			}
		}

		@at-root .Consult-Input
		{
			@extend %Input-Label;
			margin  : 0 auto 30px;
			padding : 0 20px;


			@include Adaptive('>=desktop')
			{
				display        : table-cell;
				vertical-align : middle;
				margin         : 0;
			}

		}

		button
		{
			@extend %Button-Light;
			@extend %Shadow-Outset;
			position   : relative;
			margin     : 0 auto;
			&:hover
			{
				box-shadow : none;

			}
			@include Adaptive('>=desktop')
			{
				display        : table-cell;
				vertical-align : middle;
				margin         : 0;
				float          : right;
			}
			@at-root .Inside-Consult
			{
				display    : none;
				position   : absolute;
				color      : #fff;
				top        : 60%;
				left       : -37px;
				width      : 270px;
				text-align : center;
			}
		}

	}
}