.JS-Carousel
{
    position:   relative;
    margin:     0 auto;
    text-align: center;

    @at-root .JS-Carousel-List
    {
        position:   relative;
        width:      100%;
        margin:     0 auto;
        text-align: center;
        list-style: none;
        min-height:  250px;

        @at-root .JS-Carousel-Item
        {
            position:   absolute;
            top:        0;
            left:       0;
            width:      100%;

            transition: 0.5s ease;
        }
    }

    @at-root .JS-Carousel-Navigation
    {
        text-align: center;
        padding:    0;
        list-style: none;
    }
}





