.Footer-Wrap
{
	padding : 50px 0 20px;
	@include Adaptive('>=tablet')
	{
		padding : 70px 0;
	}
	footer
	{
		@extend %Max-Width-Footer;
		font-size  : 16px;
		text-align : center;

		@include Adaptive('>=ipad-P')
		{
			display    : table;
			width      : 100%;
			text-align : initial;
		}
		@at-root .Copyright, .Contact-Info, .Footer-Links
		{
			@include Adaptive('>=ipad-P')
			{
				display        : table-cell;
				vertical-align : middle;
			}
		}
		a
		{
			@extend %Transition-Fast;

			color           : $Color-Footer-Link;
			text-decoration : none;

			&:hover
			{
				@extend %Transition-Fast;
				color : white;
			}
		}
		span
		{
			@extend %Unselectable;
			color : white;
			@include Adaptive('>=tablet')
			{
				font-size : 16rem;
			}
		}

		@at-root .Copyright
		{
			margin-bottom : 35px;
			@include Adaptive('>=ipad-P')
			{
				width         : 33%;
				margin        : 0;
				padding-right : 10px;
				text-align    : left;
			}

		}
		.Contact-Info
		{
			margin-bottom : 15px;
			font-size     : 14rem;
			@include Adaptive('>=ipad-P')
			{
				font-size     : 16rem;
				text-align    : left;
				width         : 30%;
				padding-right : 10px;
				margin        : 0;
			}

			span
			{
				@extend %Transition-Fast;
				color  : $Color-Footer-Link;
				cursor : pointer;
				&:hover
				{
					@extend %Transition-Fast;
					color : white;
				}
			}

		}
		@at-root .Footer-Links
		{
			@include Adaptive('>=ipad-P')
			{
				width      : 37%;
				min-width  : 350px;
				text-align : right;
			}

			@at-root .Footer-Socials
			{
				@at-root .Social-Link
				{
					@extend %Form-Circle;
					@extend %Gradient-Orange;
					display : inline-block;
					& + .Social-Link
					{
						margin-left : 6px;
					}

					&:hover
					{
						background : $Color-Text;
						svg
						{
							fill : white;
						}

					}
				}

				svg
				{
					width          : 24px;
					height         : 16px;
					padding        : 16px 12px;
					fill           : $Color-Text;
					vertical-align : middle;
				}

			}
			@at-root .Made-By
			{
				margin-top : 40px;
				font-size  : 13rem;
				@include Adaptive('>=ipad-P')
				{
					margin-top     : 0;
					display        : inline-block;
					margin-left    : 50px;
					vertical-align : middle;
				}

			}

		}

	}
}