.Head{
	position: relative;

	@include Adaptive(">ipad-D")
	{
		height: 100vh;
	}
}


.Header
{
	padding : 20px 20px 0 20px;

	@include Adaptive(">=ipad-P")
	{
		padding : 50px 30px 0 30px;
	}

	@include Adaptive(">ipad-D")
	{
		padding : 50px 40px 0 40px;
	}

	@include Adaptive(">=Laptop-1440")
	{
		padding : 50px 0 0 0;
	}

	@at-root .Header-Block
	{
		@extend %Clearfix;
		position    : relative;
		text-align  : center;
		font-size   : 0;
		font-weight : 500;

		&.Links
		{
			margin-top : 25px;

			@include Adaptive(">=ipad-P")
			{
				position   : absolute;
				left       : 0;
				right      : 0;
				top        : 68px;
				margin-top : 0;
			}

			@include Adaptive('>ipad-D')
			{
				top : 75px;
			}
		}

		@at-root .Header-Arrow
		{
			display  : none;
			position : absolute;
			right    : 202px;
			top      : 45px;
			z-index  : 1;

			@include Adaptive('>ipad-D')
			{
				display : block;
			}
		}
		svg
		{
			fill : $Color-Primary;
		}

		@at-root .Header-Logo
		{
			float          : left;
			position       : relative;
			vertical-align : middle;
			left           : 0;
			z-index        : 999;
			svg
			{
				width  : 114rem;
				height : 35rem;

				@include Adaptive('>=ipad-P')
				{
					width  : 150rem;
					height : 50rem;
				}

				@include Adaptive('>ipad-D')
				{
					width  : 250rem;
					height : 75rem;
				}

			}

			@include Adaptive('>=1200px')
			{
				position : absolute;
			}
		}

		@at-root .Header-Buy
		{
			@extend %Unselectable;
			@extend %Std-Transition;

			display       : block;
			position      : relative;
			right         : 0;
			border        : 3px solid $Color-Primary;
			background    : transparent;
			border-radius : 5px;
			padding       : 3px 12px 2px;
			margin-top    : 7px;
			cursor        : pointer;
			color         : white;
			font-size     : 13rem;
			z-index       : 999;



			@include Adaptive('>=ipad-P')
			{
				font-size     : 20rem;
				border-radius : 10px;
				padding       : 6px 24px;
			}

			@include Adaptive('>ipad-D')
			{
				font-size  : 26rem;
				padding    : 7px 41px;
				margin-top : 13px;
			}

			&:hover
			{
				@extend %Std-Transition;

				background : $Color-Primary;
			}
		}

		@at-root .Header-Link
		{
			@extend %Unselectable;

			display : inline-block;

			@include Adaptive(">=ipad-P")
			{
				float  : none;
				margin : 0 15px;
			}

			@include Adaptive('>ipad-D')
			{
				margin : 0 50px;
			}

			@at-root .Header-Youtube
			{
				@extend %Std-Transition;

				display        : inline-block;
				vertical-align : middle;
				width          : 18px;
				height         : 12px;

				@include Adaptive('>=ipad-P')
				{
					width  : 23px;
					height : 16px;
				}

				@include Adaptive('>ipad-D')
				{
					width  : 36px;
					height : 25px;
				}
			}

			@at-root .Header-Pdf
			{
				@extend %Std-Transition;

				display        : inline-block;
				vertical-align : middle;
				width          : 13px;
				height         : 13px;

				@include Adaptive('>=ipad-P')
				{
					width  : 16px;
					height : 16px;
				}

				@include Adaptive('>ipad-D')
				{
					width  : 26px;
					height : 26px;
				}
			}

			span
			{
				@extend %Std-Transition;

				display        : inline-block;
				vertical-align : middle;
				font-size      : 11rem;
				line-height    : 10px;
				color          : #fff;
				margin-left    : 5px;

				@include Adaptive('>=ipad-P')
				{
					font-size      : 14rem;
					line-height    : 10px;
					padding-bottom : 2px;
					margin-left    : 15px;
				}

				@include Adaptive('>ipad-D')
				{
					font-size      : 22rem;
					line-height    : 14px;
					padding-bottom : 6px;
				}
				@include Adaptive('>ipad-D')
				{
					margin-left : 30px;
				}

			}

			&:hover
			{
				span
				{
					@extend %Std-Transition;

					text-decoration : underline;
				}

				svg
				{
					fill : white;
				}
			}
		}
	}
}