.Inside-Background
{
	font-size : 0;

	.Inside-Width
	{
		max-width : 1200px;
		margin    : 0 auto;
	}
	.Inside-Block
	{
		display        : inline-block;
		width          : 100%;
		vertical-align : top;
		margin-top     : 50px;
		margin-bottom  : 50px;

		@include Adaptive(">=ipad-D")
		{
			width      : 50%;
			margin-top : 0;
		}
	}

	.Inside-Tabs
	{
		max-width  : 400px;
		margin     : auto;
		background : white;
		color      : $Color-Text;
		padding    : 20px;
		text-align : center;
		position   : relative;

		@include Adaptive(">=ipad-D")
		{
			margin : 200px auto 0;
		}

		span
		{
			display   : inline-block;
			font-size : 22rem;
			padding   : 20px 0;
		}

		p
		{
			font-size : 14rem;
		}

		&:before
		{
			content    : "";
			position   : absolute;
			width      : 100%;
			height     : 41px;
			left       : 0;
			top        : -40px;
			background : url("/images/bg-order-top.png") center;
		}

		&:after
		{
			content    : "";
			position   : absolute;
			width      : 100%;
			height     : 41px;
			left       : 0;
			bottom     : -40px;
			background : url("/images/bg-order-bottom.png") center;
		}
	}
}

.Inside-Wrap
{
	margin-top : -123px;
	position   : relative;
	@at-root .Inside-Background
	{
		display    : table;
		width      : 100%;
		text-align : center;
		height     : 500px;

		background : url("/images/bg-lines.png") repeat, url("/images/bg-inside.jpg") center 0 repeat fixed / cover;

		@include Adaptive('>=tablet')
		{
			height : 700px;
		}

		@at-root .Inside
		{
			display        : table-cell;
			vertical-align : middle;

			@at-root .Inside-Punchbag
			{

				@at-root .Punchbag
				{
					position : relative;
					width    : 72px;
					height   : 270px;
					margin   : 0 auto;
					@include Adaptive('>=tablet')
					{
						width  : 146px;
						height : 540px;
					}

					.Inside-Name
					{
						display     : none;
						position    : absolute;
						top         : -60px;
						left        : 0;
						right       : 0;
						text-align  : center;
						font-size   : 18rem;
						color       : white;
						font-style  : italic;
						font-weight : 600;

						&.Active
						{
							@include Adaptive(">=tablet")
							{
								display : block;
							}
						}
					}

					.Top
					{
						position    : absolute;
						left        : 0;
						right       : 0;
						top         : 0;
						bottom      : 0;
						background  : url("/images/case-top.png") no-repeat center / cover;
						transition  : all 0.1s linear;
						will-change : transform, translateX;
						transform   : translateX(0);
						cursor      : pointer;
					}

					.Back
					{
						position    : absolute;
						top         : 23%;
						left        : 7%;
						bottom      : 3%;
						right       : 5%;
						background  : url("/images/case-back.png") center/contain no-repeat;
						transition  : all 0.1s linear;
						will-change : transform, translateX;
						transform   : translateX(0);
					}

					@at-root .Filler
					{
						position    : absolute;
						left        : 5%;
						right       : 8%;
						top         : 24%;
						bottom      : 6%;
						transition  : all 0.1s linear;
						will-change : transform, translateX;
						transform   : translateX(0);
						cursor      : pointer;

						div
						{
							background : url("/images/filler.png") no-repeat center / contain;
							width      : 100%;
							height     : 100%;
							position   : relative;
						}

					}
					@at-root .Tarpaulin
					{
						position    : absolute;
						top         : 23%;
						bottom      : 2%;
						left        : 33%;
						right       : 0;

						will-change : transform, translateX;
						transition  : all 0.1s linear;
						transform   : translateX(0);
						cursor      : pointer;
						div
						{
							background : url("/images/Tarpaulin.png") no-repeat center / contain;
							width      : 100%;
							height     : 100%;
							position   : relative;
						}

					}
					@at-root .Case-Cell
					{

						position    : absolute;
						top         : 23%;
						bottom      : 0;
						left        : 34%;
						right       : 0;
						will-change : transform, translateX;
						transition  : all 0.1s linear;
						transform   : translateX(0);
						cursor      : pointer;
						div
						{
							background : url("/images/case-cell.png") no-repeat top / cover;
							width      : 100%;
							height     : 100%;
							position   : relative;
						}

					}

					.Tarpaulin, .Case-Cell, .Filler
					{

						&:before
						{
							content       : "";
							transition    : background-color linear .2s, border linear .2s;
							position      : absolute;
							border-radius : 14px;
							top           : -6%;
							left          : 0;
							right         : 0;
							bottom        : -6%;
							cursor        : pointer;
							@include Adaptive(">=tablet")
							{
								border-radius : 28px;
							}

							@include Adaptive(">=desktop")
							{
								left  : -10%;
								right : -10%;
							}
						}

						&.Active
						{
							&:before
							{
								background-color : rgba(246, 145, 0, .6);
								border           : 1px solid $Color-Punchbag-hover;
								transition       : background-color linear .2s, border linear .2s;
							}
						}
					}

					.Tarpaulin:hover, .Case-Cell:hover, .Filler:hover
					{
						&:before
						{
							background-color : rgba(246, 145, 0, .6);
							border           : 1px solid $Color-Punchbag-hover;
							transition       : background-color linear .2s, border linear .2s;
						}
					}

				}

			}
		}
	}
}



