.Contacts-Wrap
{
	position   : absolute;
	max-width  : 805px;
	margin     : 0 auto;
	background : white;
	color      : $Color-Text;

	h2
	{
		@extend %Uppercase;
		font-style : italic;
		font-size  : 15rem;
		padding    : 20px 30px 50px;
		text-align : left;
		@include Adaptive('>=tablet')
		{
			font-size  : 26rem;
			text-align : center;
			padding    : 23px 0 50px;
		}
	}
	svg
	{
		@extend %Form-Circle;
		position   : absolute;
		z-index    : 1;
		right      : 30px;
		top        : 10px;
		width      : 34px;
		height     : 34px;
		padding    : 7px;
		border     : 2px solid white;
		cursor     : pointer;
		fill       : white;
		transition : border linear .2s;
		&:hover
		{
			transition : border linear .2s;
			border     : 2px solid $Color-Text-Orange;
		}
		@include Adaptive('<=ipad-L')
		{
			fill         : #333;
			border-color : #333;
		}

		@include Adaptive('>=desktop')
		{
			right : -80px;
		}
	}
	&:after, &:before
	{
		content  : "";
		position : absolute;
		width    : 100%;
		height   : 41px;
		left     : 0;
	}

	&:before
	{
		top        : -40px;
		background : url("../images/bg-order-top.png") center;
	}

	&:after
	{
		bottom     : -40px;
		background : url("../images/bg-order-bottom.png") center;
	}

	@at-root .Contacts-Map
	{
		position : relative;

	}
	@at-root .Contacts-Info
	{

		max-width : 370px;
		margin    : 0 auto;
		padding   : 40px 25px;
		@include Adaptive('>=tablet')
		{
			padding : 70px 25px;
		}

		h3
		{
			color         : $Color-Text;
			font-size     : 15rem;
			margin-bottom : 10px;
			font-weight   : 700;

			@include Adaptive('>=tablet')
			{
				font-size : 20rem;
			}
		}

		li
		{
			line-height : 25rem;
			font-size   : 18rem;
			@include Adaptive('>=tablet')
			{
				line-height : 33rem;
			}

		}
	}

}