.JS-Modal
{
    visibility:       hidden;
    position:         absolute;
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    bottom:           0;
    width:            100%;
    height:           100%;
    background-color: rgba(0, 0, 0, .3);
    transition:       all 0.7s ease;
    perspective:      3000px;

    @include Adaptive('<=ipad-L')
    {
        position: absolute;
    }

}

.JS-Modal.Visible
{
    visibility: visible;
    opacity:    1;
}

.JS-Modal-Box
{
    position:         absolute;
    width:            80%;
    height:           auto;
    left:             10%;
    right:            10%;

    box-sizing:       border-box;

    margin:           0 auto;
    padding:          40px;

    background-color: #eee;
    transition:       all 0.6s ease;
    transform:        rotateX(90deg);

    @include Adaptive("<=ipad-L")
    {
        position: relative;
        width:    auto;
        left:     0;
        right:    0;
    }
}

.JS-Modal.Visible .JS-Modal-Box
{
    transform:  rotateX(0deg);
    transition: all 0.7s ease;
}

.JS-Form-Result
{

    font-size:      15rem;
    margin-top:     20px;
    height:         15px;
    text-align:     center;
    color:          #f35519;
    text-transform: uppercase;
}
