.Modal-Window
{
    @extend %Clearfix;
    @extend %Unselectable;

    max-width:   800px;
    font-size:   0;
    z-index:     999;
    font-weight: 500;
    background:  white;
    padding:     25px 0 35px 0;
    color:       $Color-Text;

    &:before, &:after
    {
        content:  "";
        position: absolute;
        width:    100%;
        height:   41px;
        left:     0;
    }

    &:before
    {
        background: url("/images/bg-order-top.png") center repeat-x;
        top:        -41px;
    }
    &:after
    {
        bottom:     -41px;
        background: url("/images/bg-order-bottom.png") center repeat-x;
    }

    h3
    {
        padding:      0 0 12px 50px;
        margin-right: 60px;
        font-size:    28rem;
        font-weight:  700;

        @include Adaptive("<ipad-P")
        {
            padding-left: 20px;
        }

        @include Adaptive(">=ipad-P")
        {
            padding-left: 40px;
        }
        @include Adaptive("<=tablet")
        {
            padding-right: 60px;
        }
    }

    form
    {
        @extend %Clearfix;
        display:   block;
        font-size: 18rem;
    }
    .List
    {
        margin-top: 20px;
    }
    .List-Title
    {
        font-weight: 600;
        padding:     0 80px;
        @include Adaptive('<ipad-P')
        {
            padding:   0 20px;
            font-size: 14rem;
        }
        @include Adaptive('>=ipad-P')
        {
            padding: 0 40px;
        }
    }

    ul
    {
        display: block;
        margin:  20px 0;
    }

    li
    {
        position:      relative;
        display:       block;
        width:         100%;
        padding:       8px 80px 12px 50px;
        cursor:        pointer;
        margin-bottom: 2px;

        @include Adaptive('>=ipad-P')
        {
            padding: 8px 40px;
        }
        &:hover
        {
            background: $Color-Text;
            color:      white;

            .List-Price.Orange
            {

                color: white;

            }

            svg
            {
                fill: white;
            }

        }

        &.Active
        {

            .List-Count
            {
                visibility: visible;
            }

            .List-Back
            {
                opacity:    1;
                background: $Color-Primary;

            }
            color: white;

            .List-Price.Orange
            {
                color: white;
            }

            svg
            {
                fill: white;
            }
        }

        @at-root .List-Back
        {
            display:    block;
            opacity:    0;
            position:   absolute;
            top:        0;
            bottom:     0;
            left:       0;
            right:      0;
            z-index:    0;
            box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.149);

            @include Adaptive('<ipad-D')
            {
                &:before,
                &:after
                {
                    display: none;
                }
            }

            &:before
            {
                content:     "";
                position:    absolute;
                width:       0;
                height:      0;
                left:        0;
                bottom:      -10px;
                border-top:  10px solid $Color-Primary;
                border-left: 10px solid transparent;
            }

            &:after
            {
                content:      "";
                position:     absolute;
                width:        0;
                height:       0;
                right:        0;
                bottom:       -10px;
                border-top:   10px solid $Color-Primary;
                border-right: 10px solid transparent;

            }

            @include Adaptive(">=ipad-D")
            {
                left:  -10px;
                right: -10px;
            }
        }

        @at-root .List-Size
        {
            position: relative;
            width:    28%;
            display:  inline-block;
            z-index:  2;

            @include Adaptive("<=ipad-L")
            {
                width:     25%;
                font-size: 14rem;
            }
        }

        @at-root .List-Weight
        {
            position: relative;
            width:    22%;
            display:  inline-block;
            z-index:  2;

            @include Adaptive("<=ipad-L")
            {
                width:        18%;
                padding-left: 10px;
                font-size:    14rem;
            }
        }

        @at-root .List-Count
        {
            visibility: hidden;
            position:   relative;
            width:      32%;
            display:    inline-block;
            z-index:    2;

            @include Adaptive("<=ipad-L")
            {
                width:     22%;
                font-size: 14rem;
            }

            .Less, .More
            {
                padding: 0 20px;
                font-size: 20rem;
                @include Adaptive("<=ipad-L"){
                    font-size: 14rem;
                    padding: 0 5px;
                }
            }
        }

        @at-root .List-Price
        {
            position:   relative;
            width:      14%;
            display:    inline-block;
            z-index:    2;
            text-align: right;

            sup
            {
                font-size:       12rem;
                text-decoration: underline;
                vertical-align:  top;
            }

            svg
            {
                width:        15px;
                height:       15px;
                display:      inline-block;
                padding-left: 2px;
                fill:         #f35519;
            }

            &.Orange
            {
                font-weight: 700;
                color:       $Color-Primary;
            }

            @include Adaptive("<=ipad-L")
            {
                width:     21%;
                font-size: 14rem;
                svg
                {
                    width:  10px;
                    height: 10px;
                }
                sup
                {
                    font-size: 8rem;
                }
            }
        }

        @include Adaptive("<ipad-P")
        {
            padding-left:  20px;
            padding-right: 20px;
        }
        @include Adaptive(">=ipad-P")
        {
            padding-left:  40px;
            padding-right: 40px;
        }
    }

    .Payment-Contacts
    {

        padding:   0 20px 0 40px;
        font-size: 0;
        @include Adaptive('<ipad-P')
        {
            padding: 0 20px;
        }
        @at-root .Payment-Block
        {
            display:        inline-block;
            width:          50%;
            text-align:     left;
            vertical-align: middle;
            padding:        0 15px 0 0;

            @include Adaptive('<=ipad-P')
            {
                padding: 0;
            }

            @include Adaptive("<=ipad-L")
            {
                width: 100%;
            }

            label
            {
                @extend %Std-Label;
                @include Adaptive(">=ipad-P")
                {
                    margin-top: 20px;
                }
            }

            input
            {
                @extend %Std-Input;
                font-size: 14rem;
            }
        }
    }

    .Pay
    {
        @extend %Button-Modules;

        display:     block;
        width:       305px;
        margin:      26px auto 0;
        font-weight: 500;
        color:       white;

        @include Adaptive("<=ipad-L")
        {
            float:  none;
            margin: 30px auto 10px;
            width:  270px;
        }

    }

    .Close-Modal
    {
        @extend %Std-Transition;

        border:        2px solid #fff;
        border-radius: 50%;
        display:       inline-block;
        position:      absolute;
        top:           -62px;
        right:         -67px;
        padding:       12px;
        cursor:        pointer;

        svg
        {
            width:        21px;
            height:       21px;
            fill:         white;
            stroke-width: 4px;
            stroke:       #333;

            @include Adaptive("<=ipad-L")
            {
                fill:   #333;
                width:  16rem;
                height: 16rem;
            }
        }

        @include Adaptive("<=ipad-L")
        {
            right:   20px;
            top:     20px;
            padding: 8px;
            border:  2px solid #333;

        }

        &:hover
        {
            @extend %Std-Transition;
            border-color: $Color-Primary;
            @include Adaptive('>ipad-L')
            {
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }

    iframe
    {
        width:   450px;
        min-height:  250px;
        display: block;
        margin:  0 auto;
    }

    p
    {
        padding:   0 0 12px 50px;
        color:     #f35519;
        font-size: 18rem;

        @include Adaptive('<1024px')
        {
            padding-left: 15px;
        }
    }
}

#Modal-Yandex .JS-Modal-Box
{
    min-height: 316px;
}

.Summary
{
    text-align:  center;
    font-weight: 600;
    margin:      30px 0;
    @include Adaptive('>=ipad-P')
    {

    }

    strong{
        display: block;
        padding-top: 10px;
    }
}

.Purchase-Back
{
    @extend %Button-Modules;
    display: block;
    margin:  10px auto 20px;
    @include Adaptive('<=ipad-L')
    {
        margin-top: -10px;
        width:      auto;
    }
}