@at-root .Review
{
	padding    : 15px 0;
	text-align : center;
	@include Adaptive('>=tablet')
	{
		padding : 15px 95px;
	}

	@at-root .Review-Owner
	{
		@include Adaptive('>=tablet')
		{
			display        : inline-block;
			vertical-align : top;
		}

		@at-root .Owner-Face
		{
			@extend %Form-Circle;
			border     : 2px solid $Color-Arrow-Active;
			width      : 100px;
			height     : 100px;
			margin     : 0 auto;
			background : url("/images/bg-review-face.png") no-repeat center / cover;
			@include Adaptive('>=tablet')
			{
				width  : 175px;
				height : 175px;
			}

		}

		@at-root .Owner-Info
		{
			position   : relative;
			top        : -30px;
			font-size  : 16rem;
			text-align : center;
			@include Adaptive('>=tablet')
			{
				top : -50px;
			}

			dt
			{
				@extend %Gradient-Orange;
				transform : skew(-22deg, 0deg);
				max-width : 98px;
				padding   : 5px;
				margin    : 0 auto 21px;
				@include Adaptive('>=tablet')
				{
					max-width : 134px;
					padding   : 8px;
					margin    : 0 auto 12px;
					font-size : 22rem;
				}

				span
				{
					@extend %Uppercase;
					transform   : skew(22deg, 0deg);
					font-weight : 700;
				}
			}

			dd
			{
				@extend %Uppercase;
				font-style  : italic;
				font-weight : 500;
			}
		}
	}
	@at-root .Review-Comment
	{
		max-width  : 600px;
		margin     : 0 auto;
		text-align : initial;
		padding    : 0 30px 0 35px;

		@include Adaptive('>=tablet')
		{
			display        : inline-block;
			margin         : 0;
			padding        : 0 0 0 30px;
			vertical-align : top;
		}

		p
		{
			color : white;
		}
	}
}