.Questions-Wrap
{
	@extend %Bg-Gray;

	@at-root .Questions
	{
		@extend %Clearfix;
		max-width : 1220px;
		padding   : 25px 10px 55px;
		margin    : 0 auto;
		@include Adaptive('>=tablet')
		{
			padding : 40px 10px 55px;
		}

		h4
		{
			color          : $Color-Text-Orange;
			font-size      : 20rem;
			margin-bottom  : 15px;
			text-transform : initial;
		}

		> li
		{
			float   : left;
			padding : 0 20px 25px;
			@include Adaptive('>=tablet')
			{
				width      : 50%;
				min-height : 150px;
				padding    : 0 20px 0;
			}
			@include Adaptive('>=desktop')
			{
				width      : 32%;
				min-height : 220px;
				&:nth-of-type(3n+2)
				{
					width : 34%;
				}
			}
			ul
			{
				margin-top : 15px;
				li
				{
					font-size     : 16rem;
					font-weight   : 400;
					margin-bottom : 15px;
					&:before
					{
						@extend %Form-Circle;
						content          : "";
						display          : inline-block;
						width            : 10px;
						height           : 10px;
						background-color : $Color-Text-Orange;
						margin-right     : 10px;
					}
				}
			}
		}

	}

}