.Reviews-Wrap
{
	//background :  url("/images/bg-reviews.png") center 0 repeat fixed;
	background : url("/images/bg-lines.png") repeat, url("/images/bg-reviews.jpg") center 0 repeat fixed / cover;

	@include Adaptive('>=tablet')
	{
		background : url("/images/bg-lines.png") repeat, url("/images/bg-reviews-desktop.jpg") 0 center repeat fixed / 120%;
		transition : 0.5s ease;
	}

	@at-root .Reviews
	{
		@extend %Max-Width;
		position : relative;
		color    : white;
		padding  : 15px 0 90px;
		@include Adaptive('>=tablet')
		{
			padding : 50px 0 90px;
		}

		.Previous, .Next
		{
			@extend %Control-Arrow;
			position : absolute;
			top      : 168px;
			cursor   : pointer;
			z-index  : 1;

			&:hover
			{
				svg
				{
					@extend %Transition-Fill;
					fill : $Color-Orange-Light;
				}
			}
			svg
			{
				@extend %Transition-Fill;
				width   : 45px;
				height  : 45px;
				padding : 12px;
			}
			@include Adaptive('>=tablet')
			{
				svg
				{
					width  : 95px;
					height : 95px;
				}

				top : calc(50% - 55px);
			}
		}

		.Previous
		{
			left      : 10px;
			transform : rotate(-90deg);
		}

		.Next
		{
			right     : 10px;
			transform : rotate(90deg);
		}

		@at-root .Reviews-Nav
		{
			@extend %Unselectable;
			position   : absolute;
			left       : 0;
			right      : 0;
			bottom     : 50px;
			text-align : center;
			@include Adaptive('>=tablet')
			{
				bottom : 67px;
			}

			.Active
			{
				@extend %Transition-Fast;
				background-color : $Color-Orange-Light;
				border           : $Color-Orange-Light;
			}

			li
			{
				@extend %Transition-Fast;
				@extend %Form-Circle;
				display        : inline-block;
				vertical-align : top;
				width          : 18px;
				height         : 18px;
				border         : 3px solid white;
				cursor         : pointer;
				&:hover
				{
					@extend %Transition-Fast;
					border : 3px solid $Color-Orange-Light;
				}

			}

			li + li
			{
				margin-left : 10px;
			}
		}

	}

}